body {
  background: #75b0f3; 
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#000000'); 
  background: -webkit-gradient(linear, left top, left bottom, from(#75b0f3), to(#000536)); 
  background: -moz-linear-gradient(top,  #75b0f3,  #000536);
  font-family: Arial, sans-serif;
  padding: 20px;
}

a {
    text-decoration: none;
    color: #ffffff;
}

header nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: -webkit-gradient(linear, left top, left bottom, from(#75b0f3), to(#000536));
    font-size: 20px;
}
header nav ul {
  opacity: 0;
  transform: translateY(-100px);
  animation: slideIn 1s forwards;
  animation-delay: 0.5s;
}
@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

h1 {
    color: #ffffff;
    text-align: center;
    padding-top: 10%;
    margin: 0;
    font-size: 100px;
    letter-spacing: 10px;
}
h1 {
  opacity: 0;
  transform: translateX(-100px);
  animation: slideIn 1s forwards;
  animation-delay: 0.5s;
}
@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

h2 {
    color: #ffffff;
    text-align: center;
    padding-top: 0;
    margin: 0;
    margin-bottom: 5%;
    font-size: 30px;
    letter-spacing: 3px;
}
h2 {
  opacity: 0;
  transform: translateX(100px);
  animation: slideIn 1s forwards;
  animation-delay: 0.5s;
}
@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.intro-div h3 {
    font-size: 7vh;
    text-align: center;
    padding-top: 3%;
    margin: 0;

    color: #ffffff;
    letter-spacing: 1px;
}
.intro-div h3 {
    opacity: 0;
  transform: translateY(-100px);
  animation: slideIn 1s forwards;
  animation-delay: 0.5s;
}
@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.intro-div p {
    font-size: 2.3vh;
    padding-top: 1%;
    text-align: center;
    margin: 0;
    margin-top: 0px;
    color:#ffffff;
    letter-spacing: 1px;
}
.intro-div p {
  opacity: 0;
  transform: translateY(-100px);
  animation: slideIn 1s forwards;
  animation-delay: 0.5s;
}
@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.contact-button {
  text-align: center;
  padding: 0;
  padding: 10px;
  margin: 0;
  margin-left: 40%;
  margin-bottom: 20%;
  border-radius: 30px;
  font-size: 5vh;
  font-weight: bold;
  background: #75b0f3; 
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#000000'); 
  background: -webkit-gradient(linear, left top, left bottom, from(#75b0f3), to(#6672e0)); 
  background: -moz-linear-gradient(top,  #75b0f3,  #000536);
  letter-spacing: 5px;
}
.contact-button {
  opacity: 0;
  transform: translateY(-100px);
  animation: slideIn 1s forwards;
  animation-delay: 0.5s;
}
@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mission-sec div {
    display: inline-table;
    background: #75b0f3; 
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#000000'); 
    background: -webkit-gradient(linear, left top, left bottom, from(#75b0f3), to(#6672e0)); 
    background: -moz-linear-gradient(top,  #75b0f3,  #000536);
    border-radius: 30px;
    padding: 20px;
    margin-top: 5%;
    margin-left: 7%;
    justify-content: space-between;
    text-align: center;
    width: 300px;
    height: 300px;
    margin-bottom: 20%;
}
.mission-sec div {
    opacity: 0;
  transform: translateY(-100px);
  animation: slideIn 1s forwards;
  animation-delay: 0.5s;
}
@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mission-sec div h3 {
    font-size: 5vh;
    text-align: center;
    padding-top: 30%;
    margin: 0;
    color: #ffffff;
    letter-spacing: 1px;
}
.mission-sec div p {
    font-size: 3.2vh;
    padding-top: 1%;
    text-align: center;
    margin: 0;
    margin-top: 10px;
    color:#ffffff;
    letter-spacing: 1px;
}

.social-sec {
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}
.social-sec h3 {
    text-decoration: none;
    color: #ffffff;
    font-size: 5vh;
    margin: 0 10%;
}
.social-sec p {
    text-decoration: none;
    color: #ffffff;
    font-size: 5vh;
    margin: 0 10%;
    padding-bottom: 10px;
}
.social-sec .social-icons {
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin: 0 10%;
}

footer {
  text-align: center;
  color: #ffffff;
  margin-top: 10%;
}

@media only screen and (min-width:320px) and (max-width:768px) {
  /* For tablets: */
  header nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: -webkit-gradient(linear, left top, left bottom, from(#75b0f3), to(#000536));
    font-size: 10px;
    margin: 0;
    padding: 0;
  }

  h1 {
    color: #ffffff;
    text-align: center;
    justify-content: center;
    padding-top: 30%;
    margin: 0;
    font-size: 40px;
    letter-spacing: 5px;
  }
  h2 {
    color: #ffffff;
    text-align: center;
    padding-top: 0;
    margin: 0;
    margin-bottom: 5%;
    font-size: 15px;
    letter-spacing: 1px;
  }

  .intro-div h3 {
    font-size: 5vh;
    text-align: center;
    padding-top: 3%;
    margin: 0;

    color: #ffffff;
    letter-spacing: 1px;
  }
  .intro-div p {
    font-size: 2vh;
    padding-top: 1%;
    text-align: center;
    margin: 0;
    margin-top: 0px;
    color:#ffffff;
    letter-spacing: 1px;
  }

  .contact-button {
    text-align: center;
    justify-content: center;
    min-width: 100%;
    max-width: 10%;
    height: 100%;
    padding: 0;
    padding: 10px;
    margin: 0;
    margin-top: 10%;
    margin-bottom: 50%;
    border-radius: 30px;
    font-size: 5vh;
    font-weight: bold;
    background: #75b0f3; 
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#000000'); 
    background: -webkit-gradient(linear, left top, left bottom, from(#75b0f3), to(#6672e0)); 
    background: -moz-linear-gradient(top,  #75b0f3,  #000536);
    letter-spacing: 5px;
  }

  .mission-sec div {
    display: inline-block;
    background: #75b0f3; 
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#000000'); 
    background: -webkit-gradient(linear, left top, left bottom, from(#75b0f3), to(#6672e0)); 
    background: -moz-linear-gradient(top,  #75b0f3,  #000536);
    border-radius: 30px;
    padding: 10px;
    margin-top: 8%;
    margin-left: 9%;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    width: 200px;
    height: 200px;
    margin-bottom: 20%;
  }
  .mission-sec div h3 {
    font-size: 6vh;
    text-align: center;
    padding-top: 20%;
    margin-left: 50%;
    margin-right: 0%;
    margin: 0;
    color: #ffffff;
    letter-spacing: 1px;
  }
  .mission-sec div p {
    font-size: 2.5vh;
    padding-top: 1%;
    text-align: center;
    margin: 0;
    margin-top: 10px;
    color:#ffffff;
    letter-spacing: 1px;
  }

  .social-sec {
    justify-content: center;
    align-items: center;
    margin-top: 5%;
  }
  .social-sec h3 {
    text-decoration: none;
    color: #ffffff;
    font-size: 7vh;
    margin: 0 10%;
  }
  .social-sec p {
    text-decoration: none;
    color: #ffffff;
    font-size: 4vh;
    margin: 0 10%;
    padding-bottom: 5px;
  }
  .social-sec .social-icons {
    justify-content: center;
    align-items: center;
    margin-top: 15%;
    margin: 0 10%;
  }

  footer {
    text-align: center;
    color: #ffffff;
    margin-top: 30%;
  }
}